force-app/main/default/flows/Beneficiary_Ownership_Percent_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Total_Contingent_Percent</name>
        <label>Add to Total Contingent Percent</label>
        <locationX>13</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>ContingentPercent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_up_all_Contingent_beneficiary_percentages.LLC_BI__Ownership_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_up_all_Contingent_beneficiary_percentages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Total_Primary_Beneficiary</name>
        <label>Add to Total Primary Beneficiary</label>
        <locationX>362</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>PrimaryOwnershipPercent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Add_up_all_Primary_Beneficiary_percentages.LLC_BI__Ownership_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_up_all_Primary_Beneficiary_percentages</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Deposit_Contingent_Beneficiary_Ownership</name>
        <label>Assign Total Deposit Contingent Beneficiary Ownership</label>
        <locationX>1002</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Contingent_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalContingentOwnershipPercent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Total_Deposit_Ownership_0</name>
        <label>Assign Total Deposit Ownership</label>
        <locationX>1040</locationX>
        <locationY>624</locationY>
        <assignmentItems>
            <assignToReference>$Record.Total_Deposit_Ownership_Percent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalPrimaryOwnershipPercent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Record_is_Primary_Beneficiary</name>
        <label>Record is Primary Beneficiary</label>
        <locationX>806</locationX>
        <locationY>636</locationY>
        <defaultConnector>
            <targetReference>Assign_Total_Deposit_Contingent_Beneficiary_Ownership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Primary_Beneficary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LLC_BI__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary Beneficiary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Deposit_Ownership_0</targetReference>
            </connector>
            <label>Record.Type = Primary Beneficary</label>
        </rules>
    </decisions>
    <description>Calculates total contingent &amp; total primary ownership percentages &amp; correlates with VR on beneficiary objects: Total Contingent Percentage &amp; Total Primary Percentage cannot be over 100.</description>
    <formulas>
        <name>FinalContingentOwnershipPercent</name>
        <dataType>Number</dataType>
        <expression>{!ContingentPercent} + {!$Record.LLC_BI__Ownership_Percentage__c} - (IF({!OriginalOwnershipType}= &apos;Contingent Beneficiary&apos;,{!OriginalOwnershipPercent}, 0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates total ownership percentage prior to saving beneficiary record;validation rule will fire if total is &gt; 100 before saving record.</description>
        <name>FinalPrimaryOwnershipPercent</name>
        <dataType>Number</dataType>
        <expression>{!PrimaryOwnershipPercent} + {!$Record.LLC_BI__Ownership_Percentage__c}- (IF({!OriginalOwnershipType}= &apos;Primary Beneficiary&apos;,{!OriginalOwnershipPercent}, 0))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Beneficiary - Ownership Percent - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Beneficiary - Ownership Percent - Before Save</label>
    <loops>
        <name>Add_up_all_Contingent_beneficiary_percentages</name>
        <label>Add up all Contingent beneficiary percentages</label>
        <locationX>267</locationX>
        <locationY>629</locationY>
        <collectionReference>Contingent_Beneficiary_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Total_Contingent_Percent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_up_all_Primary_Beneficiary_percentages</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Add_up_all_Primary_Beneficiary_percentages</name>
        <label>Add up all Primary Beneficiary percentages</label>
        <locationX>654</locationX>
        <locationY>682</locationY>
        <collectionReference>PrimaryBeneficiaryCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Total_Primary_Beneficiary</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Record_is_Primary_Beneficiary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Contingent_Beneficiary_percentages</name>
        <label>Get all Contingent Beneficiary percentages</label>
        <locationX>81</locationX>
        <locationY>454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Primary_Beneficiary_percentages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Deposit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contingent Beneficiary</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Beneficiary__c</object>
        <outputReference>Contingent_Beneficiary_Collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Ownership_Percentage__c</queriedFields>
        <queriedFields>LLC_BI__Deposit__c</queriedFields>
        <queriedFields>LLC_BI__Type__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_all_Primary_Beneficiary_percentages</name>
        <label>Get all Primary Beneficiary percentages</label>
        <locationX>628</locationX>
        <locationY>481</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_up_all_Contingent_beneficiary_percentages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LLC_BI__Deposit__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Beneficiary</stringValue>
            </value>
        </filters>
        <object>LLC_BI__Beneficiary__c</object>
        <outputReference>PrimaryBeneficiaryCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Deposit__c</queriedFields>
        <queriedFields>LLC_BI__Type__c</queriedFields>
        <queriedFields>LLC_BI__Ownership_Percentage__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>If this is an edit on existing beneficiary record, store the original ownership percentage to be subtracted from total</description>
        <name>Get_Existing_Current_Beneficiary_Record</name>
        <label>Get Existing Current Beneficiary Record</label>
        <locationX>391</locationX>
        <locationY>330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Contingent_Beneficiary_percentages</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Beneficiary__c</object>
        <outputAssignments>
            <assignToReference>ExistingBeneficiary</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalOwnershipPercent</assignToReference>
            <field>LLC_BI__Ownership_Percentage__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OriginalOwnershipType</assignToReference>
            <field>LLC_BI__Type__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>363</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Existing_Current_Beneficiary_Record</targetReference>
        </connector>
        <object>LLC_BI__Beneficiary__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Contingent_Beneficiary_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Beneficiary__c</objectType>
    </variables>
    <variables>
        <name>ContingentPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ExistingBeneficiary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OriginalOwnershipPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OriginalOwnershipType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryBeneficiaryCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Beneficiary__c</objectType>
    </variables>
    <variables>
        <name>PrimaryOwnershipPercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_DepositID</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Deposit__c</objectType>
    </variables>
</Flow>
