force-app/main/default/flows/Beneficial_Ownership_TESTING.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Increase_Counter</name>
        <label>Increase Counter</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>var_DuplicateCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DuplicateId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Count_Potential_Duplicates.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Potential_Duplicates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Connection_Already_Created</name>
        <label>Connection Already Created</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Create_Connection_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Connection_already_created1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_for_Connection_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Connection already created?</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_1_Duplicate_found</name>
        <label>More than 1 Duplicate found?</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1_Duplicate_Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DuplicateCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>More than 1 Duplicate Contact found?</label>
        </rules>
        <rules>
            <name>No_Duplicates_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DuplicateCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>No Duplicates found</label>
        </rules>
        <rules>
            <name>X1_Duplicate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DuplicateCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_Connection_Record</targetReference>
            </connector>
            <label>1 Duplicate Found</label>
        </rules>
    </decisions>
    <formulas>
        <name>var_BOFullName</name>
        <dataType>String</dataType>
        <expression>{!Get_Beneficial_Ownership_Record.cm_First_Name__c} + &quot; &quot;+ {!Get_Beneficial_Ownership_Record.cm_Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Beneficial Ownership TESTING {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Beneficial Ownership TESTING</label>
    <loops>
        <name>Count_Potential_Duplicates</name>
        <label>Count Potential Duplicates</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <collectionReference>Search_for_Potential_Duplicates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_than_1_Duplicate_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_BOFullName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Connection</name>
        <label>Create Connection</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>LLC_BI__Connected_From__c</field>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Relationship__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connected_To__c</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connection_Role__c</field>
            <value>
                <stringValue>a1f4S000000g2cSQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Connection_0_0</name>
        <label>Create Connection</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <inputAssignments>
            <field>LLC_BI__Connected_From__c</field>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Relationship__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connected_To__c</field>
            <value>
                <elementReference>var_DuplicateId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Connection_Role__c</field>
            <value>
                <stringValue>a1f4S000000g2cSQAQ</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>Create_Connection</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthdate</field>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_for_Connection_Record</name>
        <label>Check for Connection Record</label>
        <locationX>446</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Connection_Already_Created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Connected_From__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Relationship__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Connected_To__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_DuplicateId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LLC_BI__Connection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the Beneficial Ownership record and data points collected.</description>
        <name>Get_Beneficial_Ownership_Record</name>
        <label>Get Beneficial Ownership Record</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_for_Potential_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_BeneficialOwnershipID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Beneficial_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Potential_Duplicates</name>
        <label>Search for Potential Duplicates</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Potential_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Beneficial_Ownership_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>var_BeneficialOwnershipID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_DuplicateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_DuplicateId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
