force-app/main/default/flows/Chexsystems_Deposit_Declination_IBDAO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_of_Adverse_Action_0</name>
        <label>Alert of Adverse Action</label>
        <locationX>706</locationX>
        <locationY>503</locationY>
        <actionName>Contact.Deposit_Declined</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_EI</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Manual_Decline</name>
        <label>Manual Decline?</label>
        <locationX>614</locationX>
        <locationY>63</locationY>
        <defaultConnectorLabel>Initiated in Online App</defaultConnectorLabel>
        <rules>
            <name>Manual_Decline_Initiated_by_Banker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Depositid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EI_Records</targetReference>
            </connector>
            <label>Manual Decline- Initiated by Banker</label>
        </rules>
    </decisions>
    <interviewLabel>Chexsystems- Deposit Declination {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chexsystems- Deposit Declination (IBDAO Only)</label>
    <loops>
        <name>Loop_through_EI</name>
        <label>Loop through EI</label>
        <locationX>450</locationX>
        <locationY>341</locationY>
        <assignNextValueToReference>var_EILoopVariable</assignNextValueToReference>
        <collectionReference>Get_EI_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Deposit_Decline_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get primary contact related to the relationship on the EI</description>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>454</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alert_of_Adverse_Action_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EILoopVariable.LLC_BI__Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_EI_Records</name>
        <label>Get EI Records</label>
        <locationX>662</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_EI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Depositid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Legal_Entities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deposit_Decline_Date</name>
        <label>Update Deposit Decline Date</label>
        <locationX>306</locationX>
        <locationY>308</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Depositid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declination_Notice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <start>
        <locationX>274</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Manual_Decline</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Stores the Chexsystem report acceptance status.</description>
        <name>var_AccountAcceptanceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the application Id</description>
        <name>var_ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Contact Id from the credit report that started the process.</description>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop of Contexts</description>
        <name>var_ContextLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nPortal__Context__c</objectType>
    </variables>
    <variables>
        <name>var_Depositid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EILoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EILoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <description>Further Review Needed Flag</description>
        <name>var_FurtherReviewneeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the CS Credit Score</description>
        <name>var_Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
