force-app/main/default/flows/Chexsystems_Deposit_Declination.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Alert_of_Adverse_Action</name>
        <label>Alert of Adverse Action</label>
        <locationX>2039</locationX>
        <locationY>441</locationY>
        <actionName>Contact.Deposit_Declined</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_of_Adverse_Action_0</name>
        <label>Alert of Adverse Action</label>
        <locationX>706</locationX>
        <locationY>503</locationY>
        <actionName>Contact.Deposit_Declined</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_through_EI</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>If deposit was marked as further review needed, update this flag so that the adverse action email is not sent.</description>
        <name>Update_Further_Review_Flag</name>
        <label>Update Further Review Flag</label>
        <locationX>1487</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>var_FurtherReviewneeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Adverse_Action_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>If deposit was marked as further review needed, update this flag so that the adverse action email is not sent.</description>
        <name>Update_Further_Review_Flag_0</name>
        <label>Update Further Review Flag</label>
        <locationX>1526</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>var_ApplicationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Context_Records.nPortal__Application__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_FurtherReviewneeded</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Adverse_Action_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Determines if context type = owner or context type = applicant.</description>
        <name>Context_Owner_or_Applicant</name>
        <label>Context = Owner or Applicant?</label>
        <locationX>839</locationX>
        <locationY>257</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FURTHER_REVIEW</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Context_Records.nPortal__Context_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Owner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_AccountAcceptanceStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>REVIEW</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_Score</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deposit_Status_0</targetReference>
            </connector>
            <label>FURTHER REVIEW</label>
        </rules>
        <rules>
            <name>Context_Type_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Context_Records.nPortal__Context_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Applicant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Deposit_Status</targetReference>
            </connector>
            <label>Context Type = Applicant</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Decline</name>
        <label>Manual Decline?</label>
        <locationX>614</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Get_Context_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Initiated in Online App</defaultConnectorLabel>
        <rules>
            <name>Manual_Decline_Initiated_by_Banker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_Depositid</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_EI_Records</targetReference>
            </connector>
            <label>Manual Decline- Initiated by Banker</label>
        </rules>
    </decisions>
    <decisions>
        <description>If the deposit was declined, send the adverse action email. If the deposit was marked as further review, do not send the email.</description>
        <name>Send_Adverse_Action_Email</name>
        <label>Send Adverse Action Email?</label>
        <locationX>1755</locationX>
        <locationY>392</locationY>
        <defaultConnector>
            <targetReference>Alert_of_Adverse_Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Send AA Email</defaultConnectorLabel>
        <rules>
            <name>Further_Review_Needed_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_FurtherReviewneeded</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Further Review Needed = True</label>
        </rules>
    </decisions>
    <description>When a Chexsystems credit report has an Account Acceptance of &quot;Declined&quot;, find the context record of the applicant and update the deposit to a status of Declined.</description>
    <interviewLabel>Chexsystems- Deposit Declination {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Chexsystems- Deposit Declination</label>
    <loops>
        <name>Loop_through_EI</name>
        <label>Loop through EI</label>
        <locationX>450</locationX>
        <locationY>341</locationY>
        <assignNextValueToReference>var_EILoopVariable</assignNextValueToReference>
        <collectionReference>Get_EI_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Deposit_Decline_Date</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get primary contact related to the relationship on the EI</description>
        <name>Get_Contact_Records</name>
        <label>Get Contact Records</label>
        <locationX>454</locationX>
        <locationY>563</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Alert_of_Adverse_Action_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_EILoopVariable.LLC_BI__Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Primary_Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>var_ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Gets the Context Records of the Applicant on the Credit Report.</description>
        <name>Get_Context_Records</name>
        <label>Get Context Records</label>
        <locationX>875</locationX>
        <locationY>92</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Context_Owner_or_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>User_Contact_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>nPortal__Context__c</object>
        <sortField>Session_Last_Modified_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EI_Records</name>
        <label>Get EI Records</label>
        <locationX>662</locationX>
        <locationY>263</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_EI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Deposit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Depositid</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LLC_BI__Legal_Entities__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Deposit_Decline_Date</name>
        <label>Update Deposit Decline Date</label>
        <locationX>306</locationX>
        <locationY>308</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_Depositid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declination_Notice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Deposit Status to &quot;Declined&quot;</description>
        <name>Update_Deposit_Status</name>
        <label>Update Deposit Status</label>
        <locationX>1290</locationX>
        <locationY>172</locationY>
        <connector>
            <targetReference>Update_Further_Review_Flag_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Context_Records.nPortal__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Declination_Notice_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Notes__c</field>
            <value>
                <stringValue>Primary Applicant Chexsystems Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>Declined</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update the Deposit Status to &quot;Declined&quot;</description>
        <name>Update_Deposit_Status_0</name>
        <label>Update Deposit Status</label>
        <locationX>1276</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_Further_Review_Flag</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Context_Records.nPortal__Application__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LLC_BI__Status__c</field>
            <value>
                <stringValue>Further Review Needed</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <start>
        <locationX>274</locationX>
        <locationY>5</locationY>
        <connector>
            <targetReference>Manual_Decline</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Chexsystem report acceptance status.</description>
        <name>var_AccountAcceptanceStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the application Id</description>
        <name>var_ApplicationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The Contact Id from the credit report that started the process.</description>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Loop of Contexts</description>
        <name>var_ContextLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nPortal__Context__c</objectType>
    </variables>
    <variables>
        <name>var_Depositid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EILoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_EILoopVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <description>Further Review Needed Flag</description>
        <name>var_FurtherReviewneeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the CS Credit Score</description>
        <name>var_Score</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
