force-app/main/default/flows/cm_Beneficial_Ownership.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Increase_Counter</name>
        <label>Increase Counter</label>
        <locationX>553</locationX>
        <locationY>372</locationY>
        <assignmentItems>
            <assignToReference>var_DuplicateCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Potential_Duplicates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>More_than_1_Duplicate_found</name>
        <label>More than 1 Duplicate found?</label>
        <locationX>155</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1_Duplicate_Contact_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DuplicateCounter</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <label>More than 1 Duplicate Contact found?</label>
        </rules>
    </decisions>
    <interviewLabel>Beneficial Ownership {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Beneficial Ownership</label>
    <loops>
        <name>Count_Potential_Duplicates</name>
        <label>Count Potential Duplicates</label>
        <locationX>308</locationX>
        <locationY>375</locationY>
        <collectionReference>Search_for_Potential_Duplicates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increase_Counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>More_than_1_Duplicate_found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets the Beneficial Ownership record and data points collected.</description>
        <name>Get_Beneficial_Ownership_Record</name>
        <label>Get Beneficial Ownership Record</label>
        <locationX>132</locationX>
        <locationY>296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_for_Potential_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Beneficial_Owner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_for_Potential_Duplicates</name>
        <label>Search for Potential Duplicates</label>
        <locationX>156</locationX>
        <locationY>444</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Potential_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Last_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Birthdate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Beneficial_Ownership_Record.cm_Date_of_Birth__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Beneficial_Ownership_Record</targetReference>
        </connector>
        <object>Beneficial_Owner__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_DuplicateCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
