force-app/main/default/flows/Credit_Request_Preprocessing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This flow references one or more credit integrations to initiate and complete the credit report process during the loan application process.</description>
        <name>Add_Request_Parameters</name>
        <label>Add Request Parameters</label>
        <locationX>78</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>RequestAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PluginNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PluginName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isHardRequest</assignToReference>
            <operator>Add</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Credit_Report_List</name>
        <label>Add To Credit Report List</label>
        <locationX>645</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>TransactionLogIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TransactionLogId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>PluginName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Equifax_Credit</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Borrower_Type_HH_Grantor_Hypothecator</name>
        <label>Borrower Type != HH, Grantor, Hypothecator</label>
        <locationX>456</locationX>
        <locationY>349</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Borrower_Type_Not_HH</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EntityInvolvement.LLC_BI__Borrower_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Borrower Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntityInvolvement.LLC_BI__Borrower_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Guarantor Household</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntityInvolvement.LLC_BI__Borrower_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Grantor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntityInvolvement.LLC_BI__Borrower_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Hypothecator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EntityInvolvement.LLC_BI__Borrower_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Related Entity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Force_Refresh</targetReference>
            </connector>
            <label>Borrower Type Not = HH</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_For_Credit_Report</name>
        <label>Check For Credit Report</label>
        <locationX>403</locationX>
        <locationY>1013</locationY>
        <defaultConnector>
            <targetReference>Add_Request_Parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Credit Report Not Found</defaultConnectorLabel>
        <rules>
            <name>Credit_Report_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TransactionLogId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_To_Credit_Report_List</targetReference>
            </connector>
            <label>Credit Report Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Force_Refresh</name>
        <label>Check Force Refresh</label>
        <locationX>360</locationX>
        <locationY>530</locationY>
        <defaultConnector>
            <targetReference>Get_Valid_Credit_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Not Force Refresh</defaultConnectorLabel>
        <rules>
            <name>is_Force_Refresh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ForceRefresh</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Request_Parameters</targetReference>
            </connector>
            <label>is Force Refresh</label>
        </rules>
    </decisions>
    <description>Excludes HH, Grantors, Hypothecators</description>
    <interviewLabel>Credit_Request_Preprocessing {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit_Request_Preprocessing</label>
    <loops>
        <name>Loop_Through_Accounts</name>
        <label>Loop Through Accounts</label>
        <locationX>394</locationX>
        <locationY>109</locationY>
        <assignNextValueToReference>AccountId</assignNextValueToReference>
        <collectionReference>AccountIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Entity_Involvements</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Capture All EI and Borrower types</description>
        <name>Get_Entity_Involvements</name>
        <label>Get Entity Involvements</label>
        <locationX>319</locationX>
        <locationY>265</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Borrower_Type_HH_Grantor_Hypothecator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Loan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Legal_Entities__c</object>
        <outputReference>EntityInvolvement</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Borrower_Type__c</queriedFields>
        <queriedFields>LLC_BI__Loan__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_Through_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Valid_Credit_Report</name>
        <label>Get Valid Credit Report</label>
        <locationX>254</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Check_For_Credit_Report</targetReference>
        </connector>
        <flowName>nRetail__GetValidCreditReport</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>TransactionLogId</assignToReference>
            <name>ValidReportId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditReportId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EntityInvolvement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Legal_Entities__c</objectType>
    </variables>
    <variables>
        <name>ForceRefresh</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isHardRequest</name>
        <dataType>Boolean</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PluginNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RequestAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TransactionLogId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TransactionLogIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
