force-app/main/default/flows/Deposit_Baseline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Deposit_Baseline-2 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke Deposit_Baseline-2, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>daniel.price@ncino.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The Deposit_Baseline-2 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke Deposit_Baseline-2, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>daniel.price@ncino.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update Deposit Name</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Product Type is not CD</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>Stage = Booked</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>CD- Variable Term &amp; Months Selected</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Default Mat Date? (If Open date is new or changed)</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <description>Automation for both in branch &amp; online deposits</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_7_A1_7062737595</name>
        <dataType>String</dataType>
        <expression>TEXT({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(

ISBLANK([LLC_BI__Deposit__c].LLC_BI__Account_Number__c),

[LLC_BI__Deposit__c].LLC_BI__Account__r.Name   &amp; &apos; - &apos; 
&amp; TEXT([LLC_BI__Deposit__c].LLC_BI__Product__c),

[LLC_BI__Deposit__c].LLC_BI__Account__r.Name  &amp; &apos; - &apos; 
&amp; TEXT([LLC_BI__Deposit__c].LLC_BI__Product__c)&amp; &apos; - &apos; 
&amp; [LLC_BI__Deposit__c].LLC_BI__Account_Number__c

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0785210292</name>
        <dataType>String</dataType>
        <expression>IF(

ISBLANK({!SObject.LLC_BI__Account_Number__c}),

{!SObject.LLC_BI__Account__r.Name}   &amp; &apos; - &apos; 
&amp; TEXT({!SObject.LLC_BI__Product__c}),

{!SObject.LLC_BI__Account__r.Name}  &amp; &apos; - &apos; 
&amp; TEXT({!SObject.LLC_BI__Product__c})&amp; &apos; - &apos; 
&amp; {!SObject.LLC_BI__Account_Number__c}

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(

TEXT([LLC_BI__Deposit__c].LLC_BI__Term_Type__c) = &apos;Month(s)&apos;,

ADDMONTHS([LLC_BI__Deposit__c].LLC_BI__Open_Date__c ,

VALUE([LLC_BI__Deposit__c].LLC_BI__CD_Term__c )),

IF(TEXT([LLC_BI__Deposit__c].LLC_BI__Term_Type__c) = &apos;Day(s)&apos;, 

[LLC_BI__Deposit__c].LLC_BI__Open_Date__c  + VALUE([LLC_BI__Deposit__c].LLC_BI__CD_Term__c ), null

))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_6843897953</name>
        <dataType>Date</dataType>
        <expression>IF(

TEXT({!SObject.LLC_BI__Term_Type__c}) = &apos;Month(s)&apos;,

ADDMONTHS({!SObject.LLC_BI__Open_Date__c} ,

VALUE({!SObject.LLC_BI__CD_Term__c} )),

IF(TEXT({!SObject.LLC_BI__Term_Type__c}) = &apos;Day(s)&apos;, 

{!SObject.LLC_BI__Open_Date__c}  + VALUE({!SObject.LLC_BI__CD_Term__c} ), null

))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_8_myRule_7_A1_1517623236</name>
        <dataType>String</dataType>
        <expression>{!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(

TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c ) = &apos;Month(s)&apos;,

ADDMONTHS([LLC_BI__Deposit__c].LLC_BI__Open_Date__c ,

VALUE([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c )),

IF(TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c ) = &apos;Day(s)&apos;, 

[LLC_BI__Deposit__c].LLC_BI__Open_Date__c  + VALUE([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c ), null

))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_7_A1_4947851228</name>
        <dataType>Date</dataType>
        <expression>IF(

TEXT({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c} ) = &apos;Month(s)&apos;,

ADDMONTHS({!SObject.LLC_BI__Open_Date__c} ,

VALUE({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c} )),

IF(TEXT({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c} ) = &apos;Day(s)&apos;, 

{!SObject.LLC_BI__Open_Date__c}  + VALUE({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c} ), null

))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[LLC_BI__Deposit__c].Name != IF(

ISBLANK([LLC_BI__Deposit__c].LLC_BI__Account_Number__c),

[LLC_BI__Deposit__c].LLC_BI__Account__r.Name   &amp; &apos; - &apos; 
&amp; TEXT([LLC_BI__Deposit__c].LLC_BI__Product__c),

[LLC_BI__Deposit__c].LLC_BI__Account__r.Name  &amp; &apos; - &apos; 
&amp; TEXT([LLC_BI__Deposit__c].LLC_BI__Product__c)&amp; &apos; - &apos; 
&amp; [LLC_BI__Deposit__c].LLC_BI__Account_Number__c

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!SObject.Name} != IF(

ISBLANK({!SObject.LLC_BI__Account_Number__c}),

{!SObject.LLC_BI__Account__r.Name}   &amp; &apos; - &apos; 
&amp; TEXT({!SObject.LLC_BI__Product__c}),

{!SObject.LLC_BI__Account__r.Name}  &amp; &apos; - &apos; 
&amp; TEXT({!SObject.LLC_BI__Product__c})&amp; &apos; - &apos; 
&amp; {!SObject.LLC_BI__Account_Number__c}

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>OR(

TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Type__c ) = &apos;Checking&apos;,

TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Type__c ) = &apos;Savings&apos;,

TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Type__c ) = &apos;IRA&apos;

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>OR(

TEXT({!SObject.LLC_BI__Product_Type__c} ) = &apos;Checking&apos;,

TEXT({!SObject.LLC_BI__Product_Type__c} ) = &apos;Savings&apos;,

TEXT({!SObject.LLC_BI__Product_Type__c} ) = &apos;IRA&apos;

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TEXT([LLC_BI__Deposit__c].LLC_BI__Stage__c) = &apos;Booked&apos; </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>TEXT({!SObject.LLC_BI__Stage__c}) = &apos;Booked&apos;</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

NOT(ISBLANK([LLC_BI__Deposit__c].LLC_BI__CD_Term__c )),

NOT(ISPICKVAL([LLC_BI__Deposit__c].LLC_BI__Term_Type__c ,&apos;&apos;))

)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(

NOT(ISBLANK({!SObject.LLC_BI__CD_Term__c} )),

NOT(ISPICKVAL({!SObject.LLC_BI__Term_Type__c} ,&apos;&apos;))

)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(

NOT(ISBLANK([LLC_BI__Deposit__c].LLC_BI__Product_Reference__c.LLC_BI__Product_Feature__c.LLC_BI__CD_Term__c)),

NOT(ISBLANK([LLC_BI__Deposit__c].LLC_BI__Open_Date__c)), 



[LLC_BI__Deposit__c].LLC_BI__Open_Date__c  !=  (IF(

TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c ) = &apos;Month(s)&apos;,

ADDMONTHS([LLC_BI__Deposit__c].LLC_BI__Open_Date__c ,

VALUE([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c )),

IF(TEXT([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c ) = &apos;Day(s)&apos;, 

[LLC_BI__Deposit__c].LLC_BI__Open_Date__c  + VALUE([LLC_BI__Deposit__c].LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c ), null

)))


)



</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND(

NOT(ISBLANK({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c})),

NOT(ISBLANK({!SObject.LLC_BI__Open_Date__c})), 



{!SObject.LLC_BI__Open_Date__c}  !=  (IF(

TEXT({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c} ) = &apos;Month(s)&apos;,

ADDMONTHS({!SObject.LLC_BI__Open_Date__c} ,

VALUE({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c} )),

IF(TEXT({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__Product_Term_Type__c} ) = &apos;Day(s)&apos;, 

{!SObject.LLC_BI__Open_Date__c}  + VALUE({!SObject.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__r.LLC_BI__CD_Term__c} ), null

)))


)</expression>
    </formulas>
    <interviewLabel>Deposit_Baseline-2_InterviewLabel</interviewLabel>
    <label>Deposit Baseline</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>LLC_BI__Deposit__c</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Deposit__c</object>
        <outputReference>SObject</outputReference>
        <queriedFields>LLC_BI__Open_Date__c</queriedFields>
        <queriedFields>LLC_BI__Stage__c</queriedFields>
        <queriedFields>LLC_BI__Term_Type__c</queriedFields>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Account_Number__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>LLC_BI__CD_Term__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[LLC_BI__Deposit__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>Update interest payment method type</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision13</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Interest Payment Method Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>LLC_BI__Interest_Payment_Method_Type__c</field>
            <value>
                <stringValue>Add to Principal</stringValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[LLC_BI__Deposit__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>Mark Deposit As Is Booked = True</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Is Booked</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Boolean</stringValue>
                </value>
            </processMetadataValues>
            <field>LLC_BI__Is_Booked__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[LLC_BI__Deposit__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Deposit Name</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Deposit Name</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Name</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0785210292</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[LLC_BI__Deposit__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Update Maturity Date</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision6</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Maturity Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LLC_BI__Maturity_Date__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_6843897953</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[LLC_BI__Deposit__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Populate Maturity Date</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision11</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CD Term</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LLC_BI__CD_Term__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A1_1517623236</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Maturity Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LLC_BI__Maturity_Date__c</field>
            <value>
                <elementReference>formula_9_myRule_7_A1_4947851228</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Term Type</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>LLC_BI__Term_Type__c</field>
            <value>
                <elementReference>formula_10_myRule_7_A1_7062737595</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Deposit__c</object>
    </recordUpdates>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Deposit__c</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
