force-app/main/default/flows/Unsecured_Pricing_Options.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>adjust_validation</name>
        <label>adjust validation</label>
        <locationX>1284</locationX>
        <locationY>166</locationY>
        <assignmentItems>
            <assignToReference>AdjusterValidation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_Discount_Adjuster_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pricing_Option</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Pricing_Options_Count</name>
        <label>Increment Pricing Options Count</label>
        <locationX>965</locationX>
        <locationY>136</locationY>
        <assignmentItems>
            <assignToReference>Pricing_Options_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>adjust_validation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Options_Found</name>
        <label>No Options Found</label>
        <locationX>1266</locationX>
        <locationY>712</locationY>
        <assignmentItems>
            <assignToReference>Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Options Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionsReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Adverse_Action_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Options_Found_Credit_Score_Missing</name>
        <label>No Options Found-Credit Score Missing</label>
        <locationX>1003</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Options Found</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>optionsReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Options_Found</name>
        <label>Options Found</label>
        <locationX>731</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>optionsReturned</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Matrix_Variables</name>
        <label>Set Matrix Variables</label>
        <locationX>457</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>LoanAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AutoPay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Auto_Pay__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmployeeLoan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loan.LLC_BI__Employee_Loan__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Pricing_Logic</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Rate10</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate11</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate13</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>13.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate14</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>14.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate8_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Rate9_5</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.5</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term12</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term24</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>24.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term36</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>36.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term48</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>48.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>Term60</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>60.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Results</name>
        <label>Has Results</label>
        <locationX>977</locationX>
        <locationY>607</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Options_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Options_Found</targetReference>
            </connector>
            <label>Results Found</label>
        </rules>
        <rules>
            <name>Credit_Score_is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CreditScore</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Options_Found_Credit_Score_Missing</targetReference>
            </connector>
            <label>Credit Score is Missing</label>
        </rules>
        <rules>
            <name>No_Results_Found_No_AA_Record_already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Options_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loan.Roll_Up_Adverse_Action_cm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Options_Found</targetReference>
            </connector>
            <label>No Results Found &amp; No AA Record already</label>
        </rules>
        <rules>
            <name>No_Results_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pricing_Options_Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Options_Found_Credit_Score_Missing</targetReference>
            </connector>
            <label>No Results Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Secured is marked true on the product feature on loan?</description>
        <name>Product_is_Secured</name>
        <label>Product is Secured?</label>
        <locationX>181</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Credit_Scores_Entity_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Product is NOT Secured</defaultConnectorLabel>
        <rules>
            <name>Product_is_Secured_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoanIsSecured</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_Collateral_Values</targetReference>
            </connector>
            <label>Product is Secured Outcome</label>
        </rules>
    </decisions>
    <description>This Flow references pricing variables from the Pricing Matrix object to create Pricing Option records. Given relevant loan, product, and account information, the Pricing Option record includes Interest Rate and Term. 

***** Finding Pricing Options based on Product &amp; Credit Score. If Credit score is missing; flow will end. If Credit score is declined and NO aAA exists, an AA record will be created. If Pricing Options found, Offers process continued.</description>
    <formulas>
        <name>FinalInterestRateFormula</name>
        <dataType>Number</dataType>
        <expression>((nullvalue({!Pricing_Matrix_Row.LLC_BI__Interest_Rate__c},0)*100) + {!CD_Rate} + ({!IndexValue}*100) + {!Spread}) - {!Rate_Discount_Adjuster_Formula}</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <description>Index Value from pricing matrix row</description>
        <name>IndexValue</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!Pricing_Matrix_Row.Index_Rate_Value_Formula__c},0)</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <description>Subtracts employee &amp; auto pay discounts from the final rate</description>
        <name>Rate_Discount_Adjuster_Formula</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE(IF ({!AutoPay} = true &amp;&amp; {!EmployeeLoan} = true, ( {!Pricing_Matrix_Row.cm_Discount_for_Auto_Debit__c}+ {!Pricing_Matrix_Row.LLC_BI__Employee_Discount__c})*100, IF({!AutoPay} = true &amp;&amp; {!EmployeeLoan} = false , ({!Pricing_Matrix_Row.cm_Discount_for_Auto_Debit__c}*100), IF( {!AutoPay} = false &amp;&amp; {!EmployeeLoan} = true, ({!Pricing_Matrix_Row.LLC_BI__Employee_Discount__c}*100), 0))),0)</expression>
        <scale>5</scale>
    </formulas>
    <formulas>
        <description>Interest Rate Margin Percent</description>
        <name>Spread</name>
        <dataType>Number</dataType>
        <expression>NULLVALUE({!Pricing_Matrix_Row.LLC_BI__Interest_Rate_Margin_Percent__c}*100,0)</expression>
        <scale>3</scale>
    </formulas>
    <interviewLabel>Calculate Pricing Options</interviewLabel>
    <label>Unsecured_Pricing_Options</label>
    <loops>
        <name>Process_Pricing_Logic</name>
        <label>Process Pricing Logic</label>
        <locationX>792</locationX>
        <locationY>336</locationY>
        <assignNextValueToReference>Pricing_Matrix_Row</assignNextValueToReference>
        <collectionReference>Pricing_Matrix</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Pricing_Options_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Results</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Adverse_Action_Record</name>
        <label>Create Adverse Action Record</label>
        <locationX>1581</locationX>
        <locationY>766</locationY>
        <inputAssignments>
            <field>AA_Status__c</field>
            <value>
                <stringValue>Loan Declined</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Decline_Reason_1__c</field>
            <value>
                <stringValue>Poor credit performance with us</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Adverse_Action__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pricing_Option</name>
        <label>Create Pricing Option</label>
        <locationX>1266</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>Process_Pricing_Logic</targetReference>
        </connector>
        <inputAssignments>
            <field>CD_Rate__c</field>
            <value>
                <elementReference>CD_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Adjusters__c</field>
            <value>
                <elementReference>Rate_Discount_Adjuster_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Index_Value__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.Index_Rate_Value_Formula__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Index__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Index__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan_Amount__c</field>
            <value>
                <elementReference>LoanAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Loan__c</field>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Payment_Type__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.cm_Payment_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Rate_Ceiling__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Rate_Ceiling__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Rate_Floor__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Rate_Floor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Rate__c</field>
            <value>
                <elementReference>FinalInterestRateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Spread__c</field>
            <value>
                <elementReference>Spread</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Teaser_Rate__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Teaser_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Teaser_Term__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Teaser_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LLC_BI__Term__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Term_Months__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Pricing_Matrix_Row.LLC_BI__Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricing_Matrix_Lookup__c</field>
            <value>
                <elementReference>Pricing_Matrix_Row.Id</elementReference>
            </value>
        </inputAssignments>
        <object>LLC_BI__Pricing_Option__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Pricing_Logic</name>
        <label>Find Pricing Logic</label>
        <locationX>595</locationX>
        <locationY>258</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Process_Pricing_Logic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LLC_BI__Product_Line_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Line__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Product_Type_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Credit_Score_Minimum__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>CreditScore</elementReference>
            </value>
        </filters>
        <filters>
            <field>LLC_BI__Credit_Score_Maximum__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>CreditScore</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Pricing_Matrix__c</object>
        <outputReference>Pricing_Matrix</outputReference>
        <queriedFields>LLC_BI__Term_Months__c</queriedFields>
        <queriedFields>LLC_BI__Interest_Rate__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>LLC_BI__Index_Value__c</queriedFields>
        <queriedFields>LLC_BI__Interest_Rate_Margin_Percent__c</queriedFields>
        <queriedFields>LLC_BI__Rate_Floor__c</queriedFields>
        <queriedFields>LLC_BI__Rate_Ceiling__c</queriedFields>
        <queriedFields>LLC_BI__Teaser_Rate__c</queriedFields>
        <queriedFields>LLC_BI__Teaser_Term__c</queriedFields>
        <queriedFields>LLC_BI__Index__c</queriedFields>
        <queriedFields>LLC_BI__Maximum_Debt_To_Income__c</queriedFields>
        <queriedFields>LLC_BI__Minimum_Debt_To_Income__c</queriedFields>
        <queriedFields>LLC_BI__Product_Name__c</queriedFields>
        <queriedFields>Index_Rate_Value_Formula__c</queriedFields>
        <queriedFields>LLC_BI__Employee_Discount__c</queriedFields>
        <queriedFields>cm_Payment_Type__c</queriedFields>
        <queriedFields>cm_Discount_for_Auto_Debit__c</queriedFields>
        <sortField>LLC_BI__Term_Months__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <description>Grab the product feature of the product reference on loan. Storing the secured boolean value in a variable to decision if collateral needs to be retrieved.</description>
        <name>Get_Product_Feature_Store_is_Loan_Secured</name>
        <label>Get Product Feature/ Store is Loan Secured</label>
        <locationX>54</locationX>
        <locationY>443</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Product_is_Secured</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loan.LLC_BI__Product_Reference__r.LLC_BI__Product_Feature__c</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Product_Feature__c</object>
        <outputAssignments>
            <assignToReference>LoanIsSecured</assignToReference>
            <field>LLC_BI__Secured__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Loan</name>
        <label>Lookup Loan</label>
        <locationX>339</locationX>
        <locationY>331</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Feature_Store_is_Loan_Secured</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </filters>
        <object>LLC_BI__Loan__c</object>
        <outputReference>Loan</outputReference>
        <queriedFields>LLC_BI__Account__c</queriedFields>
        <queriedFields>LLC_BI__Amount__c</queriedFields>
        <queriedFields>LLC_BI__Product_Line__c</queriedFields>
        <queriedFields>LLC_BI__Product_Type__c</queriedFields>
        <queriedFields>LLC_BI__Product__c</queriedFields>
        <queriedFields>LLC_BI__Employee_Loan__c</queriedFields>
        <queriedFields>LLC_BI__Product_Reference__c</queriedFields>
        <queriedFields>LLC_BI__Auto_Pay__c</queriedFields>
        <queriedFields>LLC_BI__Debt_To_Income_Ratio__c</queriedFields>
        <queriedFields>LLC_BI__Current_LTV__c</queriedFields>
        <queriedFields>Roll_Up_Adverse_Action_cm__c</queriedFields>
    </recordLookups>
    <start>
        <locationX>432</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lookup_Loan</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <description>Subflow is retrieving collateral data points (age,</description>
        <name>Retrieve_Collateral_Values</name>
        <label>Retrieve Collateral Values</label>
        <locationX>314</locationX>
        <locationY>842</locationY>
        <connector>
            <targetReference>Retrieve_Credit_Scores_Entity_Details</targetReference>
        </connector>
        <flowName>Retrieve_Collateral_Values</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CD_Rate</assignToReference>
            <name>CD_Rate</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollateralAutoMobileAge</assignToReference>
            <name>CollateralAutoMobileAge</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollateralMileage</assignToReference>
            <name>CollateralMileage</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CollateralTypeName</assignToReference>
            <name>CollateralTypeName</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LienPosition</assignToReference>
            <name>LienPosition</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PropertyType</assignToReference>
            <name>PropertyType</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Retrieve_Credit_Scores_Entity_Details</name>
        <label>Retrieve Credit Scores (Entity Details)</label>
        <locationX>580</locationX>
        <locationY>689</locationY>
        <connector>
            <targetReference>Set_Matrix_Variables</targetReference>
        </connector>
        <flowName>Retrieve_Entity_Details</flowName>
        <inputAssignments>
            <name>LoanId</name>
            <value>
                <elementReference>LoanId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>CreditScore</assignToReference>
            <name>CreditScore</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>Account</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Validation field for PSO testing- this variable is irrelevant to the retail matrix</description>
        <name>AdjusterValidation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
    </variables>
    <variables>
        <name>AutoPay</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CD_Rate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>3</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralAutoMobileAge</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralMileage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CollateralTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreditScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Will be assigned if employee loan checkbox on loan is equal to true</description>
        <name>EmployeeLoan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LienPosition</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The loan</description>
        <name>Loan</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Loan__c</objectType>
    </variables>
    <variables>
        <description>The amount requested for the loan.</description>
        <name>LoanAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The Id of the Loan</description>
        <name>LoanId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoanIsSecured</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>optionsReturned</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>A collection of Pricing Matrix records discovered through Record Lookup (Find Pricing Matrix)</description>
        <name>Pricing_Matrix</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>One of the Pricing Matrix records retrieved that applies to Loan, Account, and Product selections</description>
        <name>Pricing_Matrix_Row</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LLC_BI__Pricing_Matrix__c</objectType>
    </variables>
    <variables>
        <description>Counts the number of discovered Pricing Option rules in the Product Matrix table.</description>
        <name>Pricing_Options_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PropertyType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
